body{
    background-color: darkslategrey;
    padding: 0;
}

.intro{
    margin: 100px 0 0 0;
    height: 200px;
    text-align: center;


}
.intro h1{
    color: aliceblue;

}
.intro a{
    text-decoration: none;
    color: aliceblue;
    border: aliceblue solid 2px;
    padding: 25px 50px;
    display: inline-block;
    margin: 10px 50px;
    text-align: center;
}
.intro a:hover{
    color: darkslategrey;
    background-color: aliceblue;

}
.author{
    margin-top: 50px;
}
.author p{
    color: aliceblue;
    text-align: center;
}

#desk{
    background-color: aliceblue;
    margin: auto;
    width: 90%;
    height: 400px;

}
#deskDesk{
    width: 100%;
    display: inline;
}
#simDesk{

    width: 80%;
}
#components{
    background-color: cadetblue;
    width: 90%;
    height: 150px;
    margin: auto;
}


.control{
    background-color: cadetblue;
}

#about{
    background-color: aliceblue;
    margin: auto;
    width: 90%;

    padding: 5px;
}
#about p{
    font-size: 20px;
}

.results{
    color: azure;
    font-size: 20px;
}
.simButton{
    background-color: cadetblue;
    text-decoration: none;
    color: aliceblue;
    border: aliceblue solid 2px;
    padding: 5px 5px;
    display: inline-block;
    margin: 10px 50px;
    text-align: center;
}
.simButton:hover{
    color: cadetblue;
    background-color: aliceblue;
    cursor: pointer;
}

#simulator {
    display: inline-block;
    color: aliceblue;
}
#simulator span{

}

#list{
    width: 10%;
    height: 61%;
    background-color: cadetblue;
    color: aliceblue;
    right: 7%;
    position: absolute;
    margin: 0;
}

.resistorButton {
     width: 150px;
    cursor: pointer;
 }
.resistor {
    width: initial;
    margin: 0;
    z-index: 5;

}
.resistor:hover, .source:hover, .ground:hover{
    transform: scale(0.9 );
    padding: 5px;
    border: darkslategrey dashed 2px;
}

.sourceButton{
    width: initial;

}
.source {
    width: initial;
    margin: 0;
    z-index: 5;
}
.ground {
    width: initial;
    margin: 0;
    z-index: 5;
}



.tab {
    overflow: hidden;
    border: 1px solid aliceblue;
    background-color: cadetblue;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 6px;
    transition: 0.3s;
    color: aliceblue;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: aliceblue;
    color: cadetblue;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: aliceblue;
    color: cadetblue;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;

    border-top: none;
}

#wireDialog, #wireDialogRemove, #componentDialogRemove{

    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}

.close {
    color: darkslategrey;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.dialogContent {
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
    border: 1px solid darkslategrey;
    width: 60%;
}

.dialogContent label{
    color: darkslategrey;
}
.dialogContent select, option{
    background-color: darkslategrey;
    color: aliceblue;
    border-color: darkslategrey;
    font-size: 15px;
}


.dialogButton{
    background-color: darkslategrey;
    text-decoration: none;
    color: aliceblue;
    border: aliceblue solid 2px;
    padding: 5px 5px;
    display: inline-block;
    margin: 10px 50px;
    text-align: center;
}
.dialogButton:hover{
    color: darkslategrey;
    background-color: aliceblue;
    border: darkslategrey solid 2px;
    cursor: pointer;
}
